DB_USER=preencher
DB_PASSWORD=prencher
DB_NAME=preecnher
DB_PORT=preencher
JWT_SECRET=coloque_aqui_o_valor_gerado
JWT_EXPIRES_IN=1h
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_SECURE=false
MAIL_USER=
MAIL_PASS=
MAIL_FROM="Prumo <nao-responda@prumo.local>"
