DB_USER=preencher
DB_PASSWORD=prencher
DB_NAME=preecnher
DB_PORT=preencher
JWT_SECRET=coloque_aqui_o_valor_gerado
JWT_EXPIRES_IN=1h

//Credenciais mailpit simulador de email
# MAIL_HOST=localhost
# MAIL_PORT=1025
# MAIL_SECURE=false
# MAIL_USER=
# MAIL_PASS=
# MAIL_FROM="Prumo <nao-responda@prumo.local>"

//Credenciais gmail
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_SECURE=true
MAIL_USER=seu-email
MAIL_PASS=senha de app gerada
MAIL_FROM="Nome que vc cadastou para o app <seu email de novo>"